doctype html
html(lang="en")
  head
    title Url shortener microservice
    link(rel='icon' href='data:;base64,iVBORw0KGgo=')
  body
    h1 Image search microservice
    p
      | You can use this microservice to search for images on the web by sending a GET request to 
      code /api/imagesearch/:searchquery
      | with additional query parameters
      code offset 
      code count
      | Offset lets you paginate through results (0 being the first page result)
      | while count lets you limit the results showed (1-10 inclusive)
    h2 Usage:
      h3 Search
      p
        code https://imgsearchly.herokuapp.com/api/imagesearch/pinocchio
        <br/>
        code https://imgsearchly.herokuapp.com/api/imagesearch/pinocchio?count=10
        <br/>
        code https://imgsearchly.herokuapp.com/api/imagesearch/pinocchio?count=10&offset=1
    
      h4 Example output:
      code. 
        [
          {
          imgUrl: "https://lumiere-a.akamaihd.net/v1/images/p_pinocchio_digitalhd_6dac1970.png?region=0,0,400,400",
          snippet: "Pinocchio | Disney Movies",
          thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtpo8s0vnS3eqOKPKAEA8aOY-mA6OxInT6loTPX4qyH4Oxb7OB68x-vtU",
          context: "http://movies.disney.com/pinocchio"
          }...
        ]
      h3 Search history:
      p https://imgsearchly.herokuapp.com/api/latest/imagesearch
      
      h4 Example output:
      code.
        [
          {
            searchTime: "2017-04-26T05:16:25.861Z",
            searchQuery: "pinocchio"
          },
          {
            searchTime: "2017-04-26T05:12:34.387Z",
            searchQuery: "pinocchio"
          }
        ]